*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Cormorant Garamond', serif;
}

.header{
    height: 60px;
    line-height: 60px;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: black;
    color: #fff;
    font-size: 20px;
    padding-left: 2%;
    margin-bottom: 2%;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
}

.boardShell{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: 100px;
}

.toDoBoard{
    max-height: 600px;
    margin-left:10px;
    min-width: 250px;
    border-radius: 5px;
    padding: 5px;
    background-color: #479adc;
}

.boardName{
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #f7f7f7;
    line-height: 24px;
}

.taskList{
    max-height: 85%;
    overflow-y: auto;
}

.toDoTask{
    border-radius: 5px;
    min-height: 50px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #fff;
}

.createNewTask{
    margin-top: 5px;
    padding: 10px;
    color: #f7f7f7;
}

.createNewTask:hover{
    background-color: #217cc7;
    border-radius: 5px;
    cursor: pointer;
}

.addNewBoard{
    width: 250px;
    max-height: 40px;
    margin-left:10px;
    padding-left: 10px;
    border-radius: 5px;
    line-height: 40px;
    background-color: rgb(193, 61, 61, 0.1);
    color: #c36161;
}

.newBoardSign{
    font-size: 26px;
}

.addNewBoard:hover{
    background-color: rgb(255, 0, 0, 0.1);
    cursor: pointer;
}

[contentEditable=true]:empty:before{
    content: "Task Name";
    color:grey;
}